server:
  port: 3030
app:
  frontend:
    url: ${FRONTEND_URL}
spring:
  application:
    name: api-gateway
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KC_EXTERNAL_URL}/realms/${KC_REALM}
            jwk-set-uri: ${KC_URL}/realms/${KC_REALM}/protocol/openid-connect/certs
            user-name-attribute: preferred_username
        registration:
          keycloak:
            provider: keycloak
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid, profile, email
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: bazar-space-service
              uri: ${BAZAR_SPACE_URL}
              predicates:
                - Path=/bazar-space/api/**
              filters:
                - StripPrefix=1
            - id: bazar-persona
              uri: ${BAZAR_PERSONA_URL}
              predicates:
                - Path=/bazar-persona/api/**
              filters:
                - StripPrefix=1
            - id: bazar-chat
              uri: ${BAZAR_CHAT_URL}
              predicates:
                - Path=/bazar-chat/api/**
              filters:
                - StripPrefix=1
            - id: bazar-chat-ws
              uri: ${BAZAR_CHAT_WS_URL}
              predicates:
                - Path=/ws/bazar-chat/api/**
              filters:
                - StripPrefix=2
          default-filters:
            - TokenRelay=
logging:
  level:
    org:
      springframework:
        web: ${LOGGING_LEVEL}
management:
  server:
    port: 3031
