app:
  frontend:
    url: ${FRONTEND_URL:http://localhost:5173}
spring:
  application:
    name: api-gateway
  webflux:
    base-path: /api
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KC_URL:http://localhost:9999}/realms/${KC_REALM:bazar-realm}
            user-name-attribute: preferred_username
        registration:
          keycloak:
            provider: keycloak
            client-id: ${CLIENT_ID:clientId}
            client-secret: ${CLIENT_SECRET:clientSecret}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid, profile, email
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: bazar-space-service
              uri: ${BAZAR_SPACE_URL:http://localhost:7080}
              predicates:
                - Path=/bazar-space/api/**
              filters:
                - StripPrefix=2
            - id: bazar-persona
              uri: ${BAZAR_PERSONA_URL:http://localhost:7081}
              predicates:
                - Path=/bazar-persona/api/**
              filters:
                - StripPrefix=2
            - id: bazar-chat
              uri: ${BAZAR_CHAT_URL:http://localhost:7082}
              predicates:
                - Path=/bazar-chat/api/**
              filters:
                - StripPrefix=2
            - id: bazar-chat-ws
              uri: ${BAZAR_CHAT_WS_URL:ws://localhost:7083}
              predicates:
                - Path=/ws/bazar-chat/api/**
              filters:
                - StripPrefix=3
          default-filters:
            - TokenRelay=
  threads:
    virtual:
      enabled: true
logging:
  level:
    org:
      bazar: ${LOGGING_LEVEL:DEBUG}
management:
  server:
    port: 8090
server:
  port: 8080
  forward-headers-strategy: framework
